<div class="row">
  <div class="col-xs-12">
    <img src="{{pizza.imagePath}}" alt="" class="img-responsive" style="max-height: 300px">
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{pizza.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

          <button class="btn btn-success"> Create Pizza </button>

    </div>
  </div>


</div>
