
  <div class="row">
    <div class="col-md-5">
      <app-pizza-list></app-pizza-list>
    </div>
    <div class="col-md-7">
      <app-pizza-detail
      *ngIf="selectedPizza; else infoText"
      [pizza]="selectedPizza" ></app-pizza-detail>
      <ng-template #infoText>
        <p>Please Select a Pizza!</p>
      </ng-template>
    </div>
  </div>


