<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
      <app-pizzas *ngIf="loadedFeature === 'pizza'"></app-pizzas>
      <app-orders *ngIf="loadedFeature !== 'pizza'"></app-orders>
      </div>
    </div>
  </div>
</div>
