<a href="#"
   class="list-group-item clearfix"
   (click)="onSelected()" >
  <div class=" pull-left">
    <h4 class="list-group-item-heading"> {{pizza.name}}</h4>

    <p class="list-group-item-text">Cost: ${{pizza.cost}}</p>

  </div>
  <span class="pull-right">
        <img src="{{pizza.imagePath}}" alt="{{pizza.name}}" class="img-responsive" style="max-height: 50px;">
      </span>
</a>
