<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"> New pizza </button>

  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-pizza-item
      *ngFor="let pizzaEl of pizzas"
      [pizza]="pizzaEl"
    ></app-pizza-item>
  </div>
</div>


