

  <nav class="navbar navbar-default  " style="height:55px; padding: 5px">
    <div class="navbar-brand" style="color: green">SA</div>
    <div class="container-fluid">
      <!--<div class="navbar-header ">-->
        <!--<a href="#" class="navbar-brand  nav-justified" style="color: indigo" >pizzas</a>-->
      <!--</div>-->

      <div class="collapsable navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="#" (click)="onSelect('pizza')">Pizzas</a></li>
          <li><a href="#" (click)="onSelect('order')">Orders</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown" appDropdown="">
            <a href="#" class="dropdown-toggle" role="button">Account<span class="caret"></span> </a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="#">Logout</a> </li>
            </ul>
          </li>
        </ul>

      </div>

    </div>

  </nav>


